.container {
    text-align: center;
    line-height: 3;
}

.image {
    max-width: 300px;
    max-height: 300px;
    transition: opacity 0.9s ease;

}

#btn {
    height: 40px;
    background-color: rgb(217, 160, 245);
    font-weight: 800;
}